      .top
    {
        width: 100px;
        height: 100px;
        display: flex;
        position: absolute;
        border-radius: 10px;
        
        .bt
        {
        width: 100px;
        height: 100px;
        color: white;
        outline: none;
        background-color: blueviolet;
        
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    .bottom
    {
        width: 100px;
        height: 100px;
        border: none;
        position: fixed;
        
        .bt
        {
            width: 100px;
            height: 100px;
            color: white;
            outline-color: red;
            background-color: blueviolet;
            position: fixed;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }