*{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle, #6b6969, #7c7272, #665d5d,#524d4d,#575050,#302d2d, #382e2e, #222020, #292727, #362f2f, #2F2F2F, #242323);
}


